
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import "reset.css";
@import "variables.css";



/*components*/
@import"components/screen-header.css";
@import"components/status_bar.css";
@import"components/btn.css";


/*screens*/
@import "screens/login.css";



.main-screen{
    padding: 0px var(--horizontal-sapce);
}
body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(16%, 16%, 16%);
    background-color: white;
}