
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');



.find-ir-center-box{
    flex-direction: column;
}

.find-ir-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.find-ir-info-full{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.find-ir-info-othercompany{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    padding-bottom: 10px;
}
.find-ir-info-othercompany i{
    margin-left: 5px;
}
.find-ir-info-imgbox{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.find-ir-info-imgbox img{
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(5%, 1%, 5%);
    
}
.find-ir-info-wordbox{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.ir-info-word{
    font-family: 'Gowun Batang', serif;
    font-weight: 600;
}
.ir-info-word-title{
    margin-top:20px;
    margin-bottom:20px;
    font-size: 36px;
}
.ir-info-word-author{
    margin-bottom:15px;
    font-size: 28px;
}
.ir-info-word-else{
    margin-bottom: 10px
}

.ir-btn-row{
    display: flex;
    justify-content:space-between;
    margin-top: 155px;
}
.ir-btn-row a{
    width:82%;
    
}
.ir-info-write-btn{
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--mint) ;
}
.ir-info-write-btn i{
    margin-right: 5px;
}
.ir-info-write-btn span{
    font-size: 18px;
}

.ir-info-write-btn:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--mint);
}

.ir-infoheart-btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;
    
}

@keyframes heartBeat{
    0%{
        color:white;
        transform: none;
    }
    50%{
        color:tomato;
        transform: scale(1.5);
    }
    100%{
        color:white;
        transform: none;
    }
}
.ir-infoheart-btn:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
